@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/CSS/main.css">
    <link rel="stylesheet" href="~/CSS/menu.css">
    <title>Somos Velozes - MENU</title>
</head>
<body div class="bg">
    <!--CABEÇALHO-->
    <header>
        <div class="header">
            <a href="#default" class="logo">Somos Velozes</a>
            <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
            <a href="#"><i class="fa fa-fw fa-search"></i> Search</a>
            <a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a>
        </div>
    </header>
    <!--CORPO-->
    <section>
        <main>
            <article>
                <div class="botoes">
                    <a href="~/Site/Cadastros/Cadastro.cshtml">
                        <button class="cadastros" id="cadastros">CADASTRO</button><br>
                    </a>
                    <br>
                    <a href="~/Site/Consulta/Consulta.cshtml">
                        <button class="consultas" id="consultas">CONSULTA</button><br>
                    </a>
                    <br>
                    <a href="~/Site/Alteração/Alteracao.cshtml">
                        <button class="alteracoes" id="alteracoes">ALTERAÇÕES</button><br>
                    </a>
                    <br>
                    <a href="~/Site/Produtos/Produto.cshtml">
                        <button class="produtos" id="produtos">PRODUTOS</button><br>
                    </a>
                    <br>
                </div>
            </article>
        </main>
    </section>
</body>
</html>
