@using WebApplication_C.Classes
@{
    BancoDeDados.DBConnect();
    cliente cliente = new cliente();
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/CSS/main.css">
    <link rel="stylesheet" href="~/CSS/cadastro.css">
    <title>Somos Velozes - Cadastro</title>
</head>
<body div class="bg">
    <!--CABEÇALHO-->
    <header>
        <div class="header">
            <a href="#default" class="logo">Somos Velozes</a>
            <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
            <a href="#"><i class="fa fa-fw fa-search"></i> Search</a>
            <a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a>
        </div>
    </header>
    <!--CORPO-->
    <section>
        <center>
            <nav>
                <button disabled>Cliente</button>
                <a href="~/Site/Cadastros/Cadastro_Fornecedor.cshtml">
                    <button>Fornecedor</button>
                </a>
                <a href="~/Site/Cadastros/Cadastro_Usuario.cshtml">
                    <button>Usuário</button>
                </a>
            </nav>
        </center>
        <article>
            <center>
                <div class="txt">
                    <form method="post" action="~/Site/Cadastros/Temp3.cshtml">
                    <label for="cpf">CPF</label><br>
                    <input type="text" id="cpf" name="cpf"><br>
                    <label for="nome">Nome do Cliente</label><br>
                    <input type="text" id="nome" name="nome"><br>
                    <label for="email">Email</label><br>
                    <input type="text" id="email" name="email"><br>
                    <label for="telefone">Telefone</label><br>
                    <input type="text" id="telefone" name="telefone"><br>
                    <label for="cep">CEP</label><br>
                    <input type="text" id="cep" name="cep"><br>

                </div>
                <br>
                <br>
                <input type="submit" id="cadastrar" name="cadastrar"><br></form>
            </center>

        </article>
    </section>

</body>
</html>