@{
    Layout = null;
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/CSS/main.css">
    <link rel="stylesheet" href="~/CSS/consulta.css">
    <title>Somos Velozes - Consulta</title>
</head>
<body div class="bg">
    <!--CABEÇALHO-->
    <header>
        <div class="header">
            <a href="#default" class="logo">Somos Velozes</a>
            <a class="active" href="#"><i class="fa fa-fw fa-home"></i> Home</a>
            <a href="#"><i class="fa fa-fw fa-search"></i> Search</a>
            <a href="#"><i class="fa fa-fw fa-envelope"></i> Contact</a>
        </div>
    </header>
    <!--CORPO-->
    <section>
        <center>
            <nav>
                <a href="~/Site/Consulta/Consulta_Estoque.cshtml">
                    <button>Estoque</button>
                </a>
                <button disabled>Entrega</button>
                <a href="~/Site/Consulta/Consulta_NF.cshtml">
                    <button>Nota Fiscal</button>
                </a>
            </nav>
        </center>
        <nav>
            <center>
                <div class="pesquisa">
                    <label for="id_prod">INSIRA O ID DO PEDIDO</label><br>
                    <input type="text" id="id_prod" name="id_prod"><br>
                    <br>
                    <br>

                    <button>CONSULTAR ENTREGA</button>
                </div>
            </center>
        </nav>
    </section>

</body>
</html>